h1 img{
    height: 120px;
    margin-bottom: 80px;
    clear: both;
}

h1 {
    display: inline-block;
}

h2 {
    font-size: 3rem !important;
}

.main-content {
    padding-bottom: 5%;
}

.emph-black {
    color: black;
    font-weight: bold;
}

.emph-white {
    color: white;
    font-weight: bold;
}

.site-heading {
    padding: 120px 0 !important;
}

#mainNav .navbar-nav>li.nav-item>a {
    font-size: 16px !important;
}

.post-heading > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: whitesmoke;
}

.dotted-link {
    border-bottom: 1px dotted;
}

.dotted-link:focus, .dotted-link:hover {
    text-decoration: none;
}

.pero-form {
    font-size: 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pero-span-button {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.post-preview-text {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.8em;
    line-height: 1.8em;
    position: relative;
}

.post-preview-shadow {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:100px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.post-preview-text p{
    margin-top: 0;
    margin-bottom: 0;
}

#all-posts-btn {
    margin-top: 2rem;
}

