{% extends 'template.html' %}

{% block header %}
  Anotační servery
{% endblock %}

{% block content %}
  <p>V rámci projektu PERO jsme implementovali server, které ulehčují anotaci dokumentů. Pokud byste se chtěli nezištně podílet na tomto projektu, pak je jednou z možností opravovat přepisy našich rozpoznávacích systémů. Aktuálně jsou k dispozici anotační servery s tímto obsahem:</p>
  <ul>
    <li><a class='dotted-link' href='http://pchradis-stud.fit.vutbr.cz:9000'>České historické noviny</a></li>
  </ul>
{% endblock %}